@media screen and (max-width:415px) {
    .dev-wrapper {
        grid-column-start: 1;
        grid-column-end: 5;
        display: flex;
        flex-direction: column;
        background-color: #FCC;
        animation: gradation 10s ease infinite;
        margin-top: 80px;
    }
}


@media screen and (min-width:416px) {
    .dev-wrapper {
        grid-column-start: 1;
        grid-column-end: 5;
        display: flex;
        flex-direction: column;
        background-color: #FCC;
        animation: gradation 10s ease infinite;
        margin-top: 60px;
    }
}